<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Features</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Fetch Forecast in Background</string>
			<key>Key</key>
			<string>FETCH_FORECAST_IN_BACKGROUND</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string>Notifications</string>
			<key>Key</key>
			<string>NOTIFICATIONS</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Title</key>
			<string>Application Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Display Mode</string>
			<key>Key</key>
			<string>DISPLAY_MODE</string>
			<key>DefaultValue</key>
			<string>GRAPHIC</string>
			<key>Titles</key>
			<array>
				<string>Graphic</string>
				<string>Expert</string>
			</array>
			<key>Values</key>
			<array>
				<string>GRAPHIC</string>
				<string>EXPERT</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sound Effects</string>
			<key>Key</key>
			<string>SOUND_EFFECTS</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>On Screen Help</string>
			<key>Key</key>
			<string>ON_SCREEN_HELP</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Forecast Precision</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Accuracy</string>
			<key>Key</key>
			<string>FORECAST_ACCURACY</string>
			<key>DefaultValue</key>
			<integer>3000</integer>
			<key>Titles</key>
			<array>
				<string>1 km</string>
				<string>3 km</string>
				<string>9 km</string>
				<string>25 km</string>
				<string>250 km</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1000</integer>
				<integer>3000</integer>
				<integer>9000</integer>
				<integer>25000</integer>
				<integer>250000</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Validity</string>
			<key>Key</key>
			<string>FORECAST_VALIDITY</string>
			<key>DefaultValue</key>
			<integer>21600</integer>
			<key>Titles</key>
			<array>
				<string>3 hours</string>
				<string>6 hours</string>
				<string>12 hours</string>
				<string>24 hours</string>
				<string>48 hours</string>
			</array>
			<key>Values</key>
			<array>
				<integer>10800</integer>
				<integer>21600</integer>
				<integer>43200</integer>
				<string>86400</string>
				<string>172800</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Forecast Units</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Temperature</string>
			<key>Key</key>
			<string>FORECAST_UNIT_TEMPERATURE</string>
			<key>DefaultValue</key>
			<string>C</string>
			<key>Titles</key>
			<array>
				<string>°Celsius</string>
				<string>Fahrenheit</string>
				<string>Kelvin</string>
			</array>
			<key>Values</key>
			<array>
				<string>C</string>
				<string>F</string>
				<string>K</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Wind Speed</string>
			<key>Key</key>
			<string>FORECAST_UNIT_WINDSPEED</string>
			<key>DefaultValue</key>
			<string>mps</string>
			<key>Titles</key>
			<array>
				<string>metres (m/s)</string>
				<string>miles (mph)</string>
				<string>knots</string>
			</array>
			<key>Values</key>
			<array>
				<string>mps</string>
				<string>mph</string>
				<string>knots</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Precipitation</string>
			<key>Key</key>
			<string>FORECAST_UNIT_PRECIPITATION</string>
			<key>DefaultValue</key>
			<string>mmph</string>
			<key>Titles</key>
			<array>
				<string>metres (mm/h)</string>
				<string>inches (in/24h)</string>
			</array>
			<key>Values</key>
			<array>
				<string>mmph</string>
				<string>in24h</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Pressure</string>
			<key>Key</key>
			<string>FORECAST_UNIT_PRESSURE</string>
			<key>DefaultValue</key>
			<string>hpa</string>
			<key>Titles</key>
			<array>
				<string>Pascals (hPa)</string>
				<string>bars (mbar)</string>
			</array>
			<key>Values</key>
			<array>
				<string>hpa</string>
				<string>mbar</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Altitude</string>
			<key>Key</key>
			<string>FORECAST_UNIT_ALTITUDE</string>
			<key>DefaultValue</key>
			<string>m</string>
			<key>Titles</key>
			<array>
				<string>metres (m)</string>
				<string>feets (ft)</string>
			</array>
			<key>Values</key>
			<array>
				<string>m</string>
				<string>ft</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
